.contact-page-container h1{
    color:var(--second-color);
    font-size: 5.5vw;
    width: 50%;
    margin-top:200px;
    text-align: center;
    text-transform: uppercase;
}

.contact-page-container {
    display: block;
    padding: 20px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.line-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: relative;
}

.line{
    display: inline-block;

}
.line-left{
    width: 0.5vw;
    height: 110vh;
    background-color:var(--second-color) ;
    border-radius: 10px;
}

.line-middle{
    width: 1vw;
    height: 130vh;
    border-radius: 10px;
    background-color:var(--complementary-color);
}
.line-right{
    width: 0.5vw;
    height: 110vh;
    border-radius: 10px;
    background-color:var(--second-color) ;
}

.first-step{
    display: block;
    position: absolute;
    left: 200px;
    bottom: 0px;
    font-size: 3vw;
    width: 30%;
    text-align: right;
}

.first-step::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--complementary-color);
    border-radius: 50%;
    z-index: 1;
}


.second-step{
    position: absolute;
    right: 200px;
    bottom: -300px;
    font-size: 3vw;
    width: 30%;
    text-align: left;

}
.third-step{
    position: absolute;
    position: absolute;
    left: 370px;
    bottom: -500px;
    font-size: 3vw;
    width: 20%;
    text-align: right;
}
.fourth-step{
    position: absolute;
    right: 200px;
    bottom: -800px;
    font-size: 3vw;
    width: 30%;
    text-align: left;
}