.contact-page-container h1{
    color:var(--second-color);
    font-size: 5.5vw;
    width: 50%;
    margin-top:200px;
    text-align: center;
    text-transform: uppercase;
}

.contact-page-container {
    display: block;
    padding: 20px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.line-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: relative;
}

.line{
    display: inline-block;

}
.line-left{
    width: 0.5vw;
    height: 110vh;
    background-color:var(--second-color) ;
    border-radius: 10px;
}

.line-middle{
    width: 1vw;
    height: 130vh;
    border-radius: 10px;
    background-color:var(--complementary-color);
}
.line-right{
    width: 0.5vw;
    height: 110vh;
    border-radius: 10px;
    background-color:var(--second-color) ;
}

.first-step{
    display: flex;
    position: absolute;
    left: 76px;
    top:550px;
    font-size: 3vw;
    text-align: right;
    align-items: center;
    gap:20px;
}
.first-step p{
    width: 70%;
}
.first-orange-circle{
    width: 20px;
    height: 20px;
    background-color: var(--complementary-color);
    border-radius: 50%;
}

.second-step{
    display: flex;
    position: absolute;
    left:700px;
    bottom: -300px;
    font-size: 3vw;
    text-align: left;
    align-items: center;
    gap:20px;

}
.second-step p{
    width: 80%;
}
.second-orange-circle{
    width: 20px;
    height: 20px;
    background-color: var(--complementary-color);
    border-radius: 50%;
}
.third-step{
    display: flex;
    position: absolute;
    left: 207px;
    bottom: -500px;
    font-size: 3vw;
    text-align: right;
    align-items: center;
    gap:20px;
}
.third-step p{
    width: 70%;
}
.third-orange-circle{
    width: 20px;
    height: 20px;
    background-color: var(--complementary-color);
    border-radius: 50%;
}
.fourth-step{
    position: absolute;
    display: flex;
    right: 95px;
    bottom: -700px;
    font-size: 3vw;
    text-align: left;
    align-items: center;
    gap:20px;
}

.fourth-step p{
    width: 70%;
}

.fourth-orange-circle{
    width: 20px;
    height: 20px;
    background-color: var(--complementary-color);
    border-radius: 50%;
}


.contact-card{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-card h3{
    color: var(--second-color);
    font-size: 4vw;
}

.info-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:40px;
}
.phoneNumber{
    width: 50%;
}
.email{
    width: 50%;
}
.phoneNumber p{
    text-align: center;
    color: var(--second-color);
    margin: 10px 0;
    font-size:2vw;
    font-weight: 900;
    text-transform: uppercase;
}
.email p{
    text-align: center;
    margin: 10px 0;
    color: var(--second-color);
    font-size:2vw;
    font-weight: 900;
    text-transform: uppercase;
}

.appointment{
    color:var(--second-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    scrollbar-width:thin;
}

.calendly-inline-widget{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.model3d-page-container{
    position:absolute;
    top:600px;
}

.headphones-page-contact{
    position:relative;
    top:0px;
    right:100px;

    width:400px;
    height:400px;
}

.woofer-page-contact{
    position:relative;
    top:-100px;
    left:400px;

    width:200px;
    height:200px;
}

.microphone-page-contact{
    position:relative;
    top:-200px;
    right:200px;

    width:300px;
    height:300px;
}

.note-page-contact{
    position:relative;
    top:-300px;
    left:400px;

    width:300px;
    height:300px;
}

@media screen and (max-width:600px){

    .model3d-page-container{
        display:none;
    }
    .line-left{
        display: none;
    }
    .line-right{
        display: none;
    }
    .line-middle{
        height: 40vh;
    }
    .contact-page-container h1{
        margin-top:50px;
        font-size: 7vw;
        width:70%;
        margin-bottom: 50px;
    }
    .first-orange-circle{
        width: 10px;
        height: 10px;
        background-color: var(--second-color);
    }

    .second-orange-circle{
        width: 10px;
        height: 10px;
        background-color: var(--second-color);
    }
    .third-orange-circle{
        width: 10px;
        height: 10px;
        background-color: var(--second-color);
    }
    .fourth-orange-circle{
        width: 10px;
        height: 10px;
        background-color: var(--second-color);
    }

    .first-step{
        left:1px;
        top:200px;
    }
    .second-step{
        bottom:230px;
        left:138px;
    }
    .third-step{
        bottom:180px;
        left:30px;
    }
    .fourth-step{
        bottom:130px;
        right:21px;
    }

    .contact-card{
        margin-top:50px;
        display: flex;
        flex-direction: column;
    }
    .info-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .email{
        width: 100%;
    }
    .calendly-inline-widget{
        width: 200px;
        height: 200px;
    }
    .calendly-container{
        display: flex;
        justify-content: center;
    }
    .appointment h1{
        font-size: 7vw;
    }
}