

  .banner{
    background-color: var(--second-color);
    font-size: 2vw;
    font-weight: bold;
    color:black;
    padding: 5px 15px;
    letter-spacing: 0.3em;
    width: 50%;
  }
  
  .intro {
    margin-top: 10%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  
.fa-chevron-down1{
  color:var(--second-color);
  font-size: 10vw;
  margin-top:-30px;
  
}
.fa-chevron-down2{
  color:var(--second-color);
  font-size: 10vw;
  margin-top:-50px;
}


  @media only screen and (max-width: 600px) {
    .intro {
      margin-top: 100px;
    }



  }