

  .banner{
    background-color: var(--second-color);
    font-size: 2vw;
    font-weight: bold;
    color:black;
    padding: 5px 15px;
    letter-spacing: 0.3em;
    width: 50%;
  }
  
  .intro {
    margin-top: 10%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  

  .scroll-indicator{
    position: relative;
    top:120px;
    right: 50px;
    animation: float 3s ease-in-out infinite;
  }
  .scroll-indicator2{
    top:60px;
    right: 50px;
    position: relative;
    animation: float 3s ease-in-out infinite;
  }
  .scroll-indicator-left{
    position: relative;
    display: block;
    width:100px;
    height: 5px;
    background-color: var(--second-color);
    transform: rotate(40deg);
  }
  .scroll-indicator-right{
    position: relative;
    display: block;
    width:100px;
    height: 5px;
    background-color: var(--second-color);
    transform: rotate(-40deg);
    left:75px;
    top:-5px;
  }