.model3d-presta-container{
    position:absolute;
    top:200px;
}
.radio-page-presta{
    position: relative;
    top:-150px;
    left:900px;
    touch-action: none;
    z-index:4;

    width:250px;
    height: 250px;
}

.playbutton-page-presta{
    position: relative;
    top:-300px;
    left:100px;
    touch-action: none;
    z-index: 4;

    width:350px;
    height:350px;
}
.note-page-presta{
    position: relative;
    top:-450px;
    left:800px;
    touch-action: none;
    z-index:4;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));


    width:250px;
    height: 250px;
}
.prestation-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prestation-container h1{
    color:var(--second-color);
    font-size: 7vw;
    width: 70%;
    text-align: center;
    margin:0;
    margin-top:100px;
    text-transform: uppercase;
    line-height: 1;
}

.prestation-container h3{
    color:var(--second-color);
    font-size: 3vw;
    margin:0;
}

.presta-step{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    gap:50px
}

.presta-step h3{
    color:var(--complementary-color);
    font-size: 3vw;
}

.presta-step p{
    color:var(--second-color);
    font-size: 3vw;
    width: 100%;
    margin:0;
}

.presta-step-one{
    width: 60%;
    align-self: flex-start;
    padding: 0 50px;
    text-align: left;
}

.presta-step-two{
    align-self:flex-end;
    width: 60%;
    padding: 0 50px;
    text-align: right;
}
.presta-step-three{
    width: 60%;
    align-self: flex-start;
    padding: 0 50px;
    text-align: left;
}

.presta-step-four{
    align-self:flex-end;
    width: 60%;
    padding: 0 50px;
    text-align: right;
}

.presta-contact-lowerpage{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:600px){
    .presta-step-one, .presta-step-two,
    .presta-step-three, .presta-step-four{
        align-self:center;
        text-align: center;
    }
}