:root{
  --second-color : #F9F9F9;
  --bg-color: #0D0D0D;
  --complementary-color : #FE5F00;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}
