/* Homepage.css */

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    perspective: 1000px; /* Ajouté pour la perspective des éléments 3D */
 
  }
  
  .homepage-container h1{
    color: var(--second-color);
    font-size: 12vw;
    margin:0;
    line-height: 1;

  }

  
  .profil-container{
    margin-top:0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .profil-container img{
    border-radius: 5px;
    width: 50%;
    height: 60vh;
    object-fit: cover;
    object-position:30% 10%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .profil-subtitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin:0;
    margin-top:-450px;
  }

  .profil-subtitle h2{
    font-size: 5vw;
    color : var(--second-color);
    text-transform: uppercase;
    font-weight: 800;
    margin:0 10px;
  }

  .presentation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:350px;
   
  }
  .presentation-title{
    display: flex;
  }

  .presentation-container h3{
    color:var(--second-color);
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    margin:0 15px;
  }

  .presentation-container h3:hover::before{
    transform-origin: left;
    transform: scaleX(1)
  }

  .presentation-container h3::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--second-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .presentation-container p{
    color:var(--second-color);
    font-size: 3vw;
    font-weight: 600;
    width: 90%;
    margin:20px 0;

  }
  .presentation-sub{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(20, 20, 20);
  }
  .presentation-sub svg {
    position: absolute;
    left:0;
  }

  .inner-card{
    display: flex;
    justify-content: center;
  }
  
  
.presentation-sub .line {
  stroke-dasharray: 250;
  stroke-width: 0.2vw;
  fill: transparent;
  stroke: var(--second-color);
  animation: svgAnimation 2.5s linear infinite;
}


@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}



  .presta-container{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    transition:1s;
  }

  

  .presta-container p{
    color :var(--second-color);
    font-size: 4vw;
    font-weight: 800;
    width: 70%;
  }

  .presta-container button {
    background-color: var(--second-color);
    color:var(--complementary-color);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 1vw 3vw;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
  }

  .presta-container button:hover{
    cursor: pointer;
    background-color: var(--complementary-color);
    color:var(--second-color);
    transform: rotateZ(-2deg) scale(1.2);
    -webkit-box-shadow: 0px 0px 16px 7px rgba(0,0,0,1); 
    box-shadow: 0px 0px 16px 7px rgba(0,0,0,1);
  }

  .presta-container img{
    width: 50%;
    border-radius: 10px;
  }





.contact-container span{
  background-color: var(--second-color);
  font-size: var(--bg-color);
  pointer-events: none;
  z-index: 10;
  position: relative;
  padding: 5px 20px;
  font-size: 3.5vw;
  font-weight: 800;
  letter-spacing: 7px;

}


.cube-container {
  position: relative;
  width: 300px;
  height: 300px; /* Ajustez la hauteur selon vos besoins */

}

.profil-sphere{
  top:500px;
  left:250px;
  z-index:3
}

.profil-sphere2{
  top:-100px;
  left:-200px;
  z-index:-2;
}

.profil-cube{
  top:200px;
  left:-400px
}

.profil-cube2{
  top:-400px;
  left:400px;
  z-index:3;
}
.sphere-container{
  position: relative;
  width: 200px;
  height: 200px;

}
.presentation-sphere{
  top:-100px;
  left:-100px;
  z-index:2;
}