/* Homepage.css */

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
 
  }
  
  .homepage-container h1{
    color: var(--second-color);
    font-size: 7em;
    margin:0;
    line-height: 1;

  }

  
  .profil-container{
    margin-top:0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .profil-container img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    object-position:30% 10%;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,1);
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .profil-subtitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin:0;
    margin-top:-450px;
  }

  .profil-subtitle h2{
    font-size: 3em;
    color : var(--second-color);
    text-transform: uppercase;
    font-weight: 800;
    margin:0 10px;
  }

  .presentation-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:150px;
   
  }

  .presentation-container h3{
    color:var(--second-color);
    font-size: 6em;
    font-weight: 800;
    text-transform: uppercase;
    margin:0;
  }

  .presentation-container p{
    color:var(--second-color);
    font-size: 2em;
    font-weight: 800;
    width: 60%;
    margin:20px 0;
  }

  .presta-container{
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    transition:1s;
  }

  

  .presta-container p{
    color :var(--second-color);
    font-size: 2em;
    font-weight: 800;
    width: 55%;
  }

  .presta-container img{
    position: relative;
    width: 70%;
    top:0;
    left:30%;
    transition: ease-in-out 1s;
    z-index: 1;
    }

.presta-container:hover img{

  transform: rotateY(15deg) rotateZ(-4deg);  left:10%;
}

.presta-container:hover .right-container{
  left:0;
  transform: rotateY(-20deg) rotateZ(3deg);
}

.presta-container:hover .right-container button{
  transform: rotateY(-10deg) rotateZ(-3deg);
}
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0;
  left:-17%;
  transition: ease-in-out 1s;
}

.right-container button{
  position: relative;
  background-color: var(--second-color);
  color:var(--complementary-color);
  border:none;
  border-radius: 20px;
  padding:5px 20px;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 1s;
  
}

.contact-container span{
  background-color: var(--second-color);
  font-size: var(--bg-color);
  pointer-events: none;
  z-index: 10;
  position: relative;
  padding: 5px 20px;
  font-size: 2.25em;
  font-weight: 800;
  letter-spacing: 7px;

}

/* src/components/Homepage.css */
/* src/components/Homepage.css */
/* src/components/Homepage.css */
.cube-container {
  position: relative;
  width: 300px;
  height: 300px; /* Ajustez la hauteur selon vos besoins */

}

.profil-sphere{
  top:500px;
  left:250px;
  z-index:3
}

.profil-sphere2{
  top:-100px;
  left:-200px;
  z-index:-2;
}

.profil-cube{
  top:200px;
  left:-400px
}

.profil-cube2{
  top:-400px;
  left:400px;
  z-index:3;
}
.sphere-container{
  position: relative;
  width: 200px;
  height: 200px;

}
.presentation-sphere{
  top:-100px;
  left:-100px;
  z-index:2;
}